@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('../fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open_Sans';
    src: url('opensans-light-webfont.woff2') format('woff2'),
    url('opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Open_Sans';
    src: url('opensans-extrabold-webfont.woff2') format('woff2'),
    url('opensans-extrabold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

