.article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article__icon {
    position: absolute;
    top: 11px;
    left: -48px;
    background-repeat: no-repeat;
    background-image: url(article_sprite.svg);
}

.article__icon_wrench {
    width: 20px;
    height: 20px;
    background-position: -25px 0;
}

.article__icon_bubble {
    width: 20px;
    height: 20px;
    background-position: -50px 0;
}

.article__icon_music-notes {
    width: 20px;
    height: 20px;
    background-position: 0 0;
}

.article__link {
    align-self: flex-end;
    margin-top: 8px;
}

.article__link:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}


/*768*/
@media (min-width: 481px) {
    .article__link {
        margin-top: 0;
        margin-right: 5%;
    }
}

@media (min-width: 769px) {
    .article__link {
        margin-top: 14px;
        margin-right: 0;
    }
}
