body {
    width: 909px;
    min-height: 1313px;
    margin: 0 auto;
}

.info {
    margin-top: 19px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


.phone {
    float: left;
    margin-left: 7px;
    height: 21px;
    width: 22px;
    border-radius: 50%;
    background: url("../img/phone.png") no-repeat 4px, linear-gradient(#0c3357, #1f6786);
    /*background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    background: linear-gradient(#0c3357, #1f6786);*/
}

.phone_numbers {
    float: left;
    margin-left: 4px;

    /*padding-left: 32px;*/
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #5e696d;
    letter-spacing: 0.025em;

}

.avtoriz {
    position: relative;
    float: left;
    box-sizing: border-box;
    margin-left: 16px;
    margin-top: -3px;
    padding-left: 267px;
    width: 495px;
    height: 25px;
    background: url("../img/header_avtoriz.png") no-repeat 7px 4px, linear-gradient(#1f6787, #0c3357);
    border-radius: 3px;
    -webkit-box-shadow: 2px 3px 7px 0px rgba(89,109,128,1);
    -moz-box-shadow: 2px 3px 7px 0px rgba(89,109,128,1);
    box-shadow: 2px 3px 7px 0px rgba(89,109,128,1);
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 11px;
    color:#ffffff;
}

.field {
    position: absolute;
    top: 4px;
    padding-left: 5px;
    width: 109px;
    height: 15px;
    border: none;
    border-radius: 2px;
    line-height: 25px;
    font-size: 11px;

}

.field::-webkit-input-placeholder {color:#97a2a6;}
.field::-moz-placeholder          {color:#97a2a6;}/* Firefox 19+ */
.field:-moz-placeholder           {color:#97a2a6;}/* Firefox 18- */
.field:-ms-input-placeholder      {color:#97a2a6;}

.login_field {
    left: 24px;
}

.psw_field {
    left: 145px;
}

.vhod {
    color:#ffffff;
    font-size: 11px;
    text-decoration: none;
    line-height: 25px;
    letter-spacing: -0.02em;
}

.fogot_psw {
    display: inline-block;
    margin-left: 17px;
    padding-bottom: 1px;
    border-bottom: 0.5px solid #bfbfbf;
    color: #bfbfbf;
    text-decoration: none;
    letter-spacing: 0.05em;
}

.navi {
    float: right;
    margin-top: -3px;
    margin-right: 6px;
    width: 75px;
    height: 19px;
    border: 1px solid #c1c8cb;
    border-radius: 100px;
}

.home {
    width: 18px;
    height: 12px;
    margin-left: 7px;
}

.map {
    margin-left: -2px;
}

.email {
    margin-left: -1px;
}

.logo {
    display: block;
    margin: 8px 0 6px;
}

