@import "variables";


%justify_space-between {
  display: flex;
  justify-content: space-between;
}

%justify_center {
  display: flex;
  justify-content: center;
}

%link{
  text-decoration: none;
}


%link:hover{
  color: $hoverLinkColor;
}
