@import "variables";


%justify_space-between {
  display: flex;
  justify-content: space-between;
}

%justify_center {
  display: flex;
  justify-content: center;
}


%text__restrict{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}
