$width: 80%;

$paragraphTextColor: #8a8a8a;
   $backgroundColor: #2a2d32;
    $lightTextColor: #ffffff;
    $hoverTextColor: #f4b60d;
    $hoverLinkColor: #248cec;
     $darkTextColor: #2a2d32;
      $primaryColor: #000000;

$headerFont-family:  'Ubuntu', Arial, sans-serif;
$paragraphTextSize:  13px;
