@import "variables";

.search{
  max-width: 20%;


  &__field{
    width: 90%;
    height: 40px;
    padding: 0 5%;

    outline: none;
    border: 1px solid black;
    background: #35383c url("../img/dist/search.svg") no-repeat right 7% center;
    color: $lightTextColor;
  }
/*  &::before {
    position: absolute;
    right: -1px;
    top: -1px;
    width: 14px;
    height: 14px;
  background: url("../img/dist/search.svg") no-repeat ;
  content: "♥";
    border: 5px solid white;
    z-index: 50;
  }*/


}
