$width: 80%;

$primaryColor:       #000000;
$hoverLinkColor:     #248cec;
$backgroundColor:    #2a2d32;
$lightTextColor:     #ffffff;
$darkTextColor :     #2a2d32;
$paragraphTextColor: #8a8a8a;
$hoverTextColor:     #f4b60d
