@import "variables";
@import "templates";

@mixin wrapper($name, $top, $bottom) {
    .wrapper__#{$name} {
      @extend %justify_center;

      padding-top:    #{$top}px;
      padding-bottom: #{$bottom}px;
    }
}

@include wrapper('header', 0, 0);
@include wrapper('header-nav', 40, 40);
@include wrapper('carousel', 0, 0);
@include wrapper('features', 75, 85);
@include wrapper('services', 45, 70);
@include wrapper('banners', 0, 0);
@include wrapper('news', 65, 85);
@include wrapper('links', 65, 85);
@include wrapper('footer', 25, 25);



.wrapper {
  width: 100%;
  padding-top: 35px;

  &__services {
    background: $backgroundColor;
    color: $lightTextColor;
  }

  &__news {
    background: #f7f7f7;
  }

  &__links{
    background: $backgroundColor;
  }

  &__footer{
    background: #35383c;
  }

}
