.o-media {
    display: flex;
    align-items: flex-start;
}
    .o-media > .o-media__img {
        /*margin: 0 2rem 0 .5rem;*/
    }

    .o-media > .o-media__bd {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
       /* .o-media__h2 {
            font-weight: bold;
            margin: 0 0 0.5rem 0;
        }

        .o-media__p {
            font-weight: normal;
            margin: 0;
            padding: 1rem;
        }

        .o-media__a {
            font-weight: normal;
            margin: 0;
            padding: 1rem;
        }*/