.recent-updates {
    display: flex;
    flex-direction: column;
    width: 92%;
}

.recent-updates__item{
    position: relative;
    margin-bottom: 17px;
    padding-left: 67px;
}

.recent-updates__icon {
    position: absolute;
    top: 0;
    left: 1px;
    background-image: url("updates_icon.png");
    width: 49px;
    height: 49px;
}

.recent-updates__header {
    margin-bottom: 9px;
    font-size: 30px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

.recent-updates__text {
    font-weight: bold;
}

.recent-updates__link {
    align-self: flex-end;
    margin-top: 3px;
    margin-right: -16px;
}

.recent-updates__info {
    letter-spacing: -0.005em;
    white-space: nowrap;
}

/*480*/
@media (min-width: 321px) {

    .recent-updates {
        width: 81%;
    }

    .recent-updates__item {
        padding-left: 98px;
        margin-bottom: 19px;
    }

    .recent-updates__header {
        margin-left: 31px;
    }

    .recent-updates__icon {
        left: 32px;
    }
    .recent-updates__link {
        margin-top: -3px;
        margin-right: 8px;
    }
}

/*768*/
@media (min-width: 481px) {

    .recent-updates {
        width: 100%;
    }

    .main-content__wrapper > * + * {
        margin-top: 21px;
    }

    .recent-updates__header {
        margin-left: 39px;
    }

    .recent-updates__item {
        padding-left: 30%;
    }

    .recent-updates__icon {
        left: 11%;
    }

    .recent-updates__info {
        white-space: normal;
    }
}

/*960*/
@media (min-width: 769px){
    .recent-updates__header {
        margin-left: 12%;
    }

    .recent-updates__item {
        padding-left: 26%;
    }

    .recent-updates__icon {
        left: 12%;
    }

    .recent-updates__info {
        white-space: nowrap;
    }

    .recent-updates .recent-updates__link {
        font-size: 18px;
        align-self: flex-end;
        margin-right: 0;
    }
}