



.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/sprite.svg);

}
.icon-music-notes {
    width: 20px;
    height: 20px;
    background-position: 0 0;
}
.icon-wrench {
    width: 20px;
    height: 20px;
    background-position: -25px 0;
}
.icon-bubble {
    width: 20px;
    height: 20px;
    background-position: -50px 0;
}
