.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__banners {
    border-top: 1px solid #fefefe;
}

.page__banners-list {
    margin: 51px 0 75px 0;
}
/*480px*/
@media (min-width: 321px) {

    .page__banners-list {
        margin: 35px 0 43px 0;
    }

    .page__news {
        padding-top: 56px;
        padding-bottom: 90px;
    }
}

/*768*/
@media (min-width: 481px) {
    .page__banners-list {
        margin: 25px 0 29px 0;
    }

    .page__news {
        padding-top: 40px;
        padding-bottom: 97px;
    }
}