.menu__link {
    display: block;
    box-sizing: border-box;
    border-bottom: none;
    font-size: 24px;
    font-family: "LeagueGothic", Arial, sans-serif;
    line-height: 1.405;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.menu {
    display: flex;
    justify-content: space-between;
}
.menu__link-small {
   font-size: 20px;
   letter-spacing: -0.01em;
}
