@media (max-width: 480px) {
    .hidden-m {
        visibility: hidden;
    }
    .hidden-480 {
       display: none;
    }

    .position-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

/*HEADER*/
    .header__logo {
        margin-left: -1px;
        margin-bottom: 34px;
    }
    .overlay {
        top: 203px;
        height: 246px;
    }

    .header__menu {
        position: absolute;
        top: 131px;
        width: 53.135%;
        left: 23.5%;
    }

    .menu__item__hidden {
        display: none;
    }

    .menu--vertical {
        display: block;
    }

    .menu--vertical:hover {
        background: #36293e;
        border-radius: 10px;
        opacity: 0.902;
    }

    .menu--vertical:hover .menu__item {
        display: block;
        box-sizing: border-box;
        width: 99%;
        height: 48px;
        border-style: solid;
        border-width: 0 0 2px;
        -moz-border-image: url(../img/header_menu_border_bottom.png) 0 0 2;
        -webkit-border-image: url(../img/header_menu_border_bottom.png) 0 0 2;
        -o-border-image: url(../img/header_menu_border_bottom.png) 0 0 2;
        border-image: url(../img/header_menu_border_bottom.png) 0 0 2 fill;
    }

    .menu--vertical .menu__item:last-child {
        border: none;
    }

    .menu--vertical .menu__link:hover {
        border-bottom: 2px solid #edbfff;
    }

    .menu--vertical .menu__link--current {
        display: inline-block;
        margin-left: 40%;
        border-bottom: 2px solid #edbfff;
        padding: 9px 7px 0 6px;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    }

    .menu--vertical .menu__item:nth-child(2) {
        height: 37px;
    }

    .menu--vertical .menu__item:nth-child(3) {
        height: 42px;
    }

    .menu--vertical .menu__item:nth-child(4) {
        height: 39px;
    }

    .menu--vertical .menu__item:nth-child(5) {
        height: 42px;
    }

    .menu--vertical .menu__item:nth-child(6) {
        height: 41px;
    }

    .menu--vertical .menu__item:nth-child(2) .menu__link {
        padding-top: 1px;
    }

    .menu--vertical .menu__item:nth-child(3) .menu__link {
        padding-top: 4px;
    }

    .menu--vertical .menu__item:nth-child(4) .menu__link {
        padding-top: 2px;
    }

    .menu--vertical .menu__item:nth-child(5) .menu__link {
        padding-top: 3px;
    }

    .menu--vertical .menu__item:nth-child(6) .menu__link {
        padding-top: 1px;
    }

    .slider {
        margin-top: 127px;
        margin-bottom: 57px;
    }

    .slider__switch {
        margin-top: 9px;
        padding-left: 41%;
    }

    .slider__wrapper {
        display: block;
    }

    .slider__img {
       margin-top: -74px;
        width: auto;
    }

    .slider__text {
        margin-top: 34px;
        float: left;
        margin-left: 8px;
        margin-right: 17px;
        width: auto;
    }

    .slider__name {
        margin-left: -1px;
    }

    .slider__description {
        margin-top: 7px;
        letter-spacing: -0.03em;
    }

    /*ABOUT COMPANY*/

    .about_company {
        padding-bottom: 47px;
    }

    .info_block {
        margin-top: 77px;
        margin-bottom: 20px;
        padding-left: 12%;
        width: 92%;
    }

    .info_block:nth-child(2) {
        margin-top: 2px;
    }

    .info_block:nth-child(3) {
        margin-top: 6px;
    }

    .about_company__summary {
        margin-top: 3px;
        height: 70px;
    }

    .about_company__link {
        margin-top: 15px;
        margin-left: 85%;
    }

    /*Блок pingbuller*/
    .avatar {
        top: 15px;
        left: -25px;
    }

    .pingbuller__info_block {
        width: 89.5%;
        margin: 72px 0  20px 7.5%;
        padding-left: 8.5%;
        padding-bottom: 36px;
    }

    .pingbuller__title {
        display: inline-block;
        font-size: 30px;
        margin-top: 25px;
        letter-spacing: -0.001em;
    }

    .pingbuller__title--description {
        display: inline-block;
        font-size: 30px;
        margin-left: 2px;
    }

    .pingbuller__summary {
        margin-top: 13px;
        padding-right: 7%;
        height: 166px;
        letter-spacing: -0.02em;
    }

    .pingbuller__switch {
        margin-top: 22px;
        margin-left: 42%;
        width: 28.125%;
    }

    /*RECENT UPDATES*/
    .recent_updates__title {
        margin-bottom: 18px;
        margin-left: 16%;
    }

    .recent_updates__post {        
        margin-left: 16.5%;
        padding-left: 14%;
        margin-bottom: -4px;
    }

    .recent_updates__post:nth-child(3) {
        margin-bottom: -6px;
    }

    .recent_updates__link {
        margin-left: 70%;
        margin-bottom: 86px;        
    }

   /*BANNERS*/
    .banners__wrapper {
        padding-bottom: 14px;
        padding-top: 36px;
    }

    .banners__item {
        margin-bottom: 26px;
    }

    .banner1 {
        margin-left: 16.25%;
        margin-right: 11.75%;
    }

    .banner3 {
        margin-left: 11.65%;
    }

    .banner4 {
        margin-left: 13%;
        margin-right: 11.25%;
    }

    .banner5 {
        margin-left: 1%;
        margin-top: 21px;
    }

    .banner6 {
        margin-left: 12.25%
    }

    /*NEWS CATEGORIES*/

    .news_categories__post {
        margin-left: 2.125%;
        margin-bottom: 62px;
        overflow: hidden;
    }

    .news_categories__post:last-child {
        margin-top: 65px;
        margin-bottom: 93px;
    }

    .news_categories__title {
        margin-bottom: 9px;
    }

    .news_categories__summary {
        height: 90px;
    }

    /*FOOTER*/
    .footer__menu {
         margin-top: 41px;
    }

    .footer__nav {
        width: 94%;
    }

    .footer__summary {
        margin: 30px 0 144px;
    }
}
