@media (max-width: 480px) {
    .hidden-m {
        visibility: hidden;
    }

    .position-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        padding-top: 73px;
        margin-left: -1px;
        margin-bottom: 34px;
    }

    .slider {
        margin-top: 127px;
        margin-bottom: 57px;
    }

    .slider__switch {
        margin-top: 9px;
        padding-left: 41%;
    }

    .slider__wrapper {
        display: initial;
    }

    .slider__img {
       margin-top:-109px;
    }

    .slider__text {
        float: left;
        margin-left: 8px;
        margin-right: 17px;
    }

    /*ABOUT COMPANY*/

    .about_company {
        padding-bottom: 47px;
    }

    .info_block {
        margin-top: 77px;
        margin-bottom: 20px;
        padding-left: 12%;
        width: 92%;
    }

    .info_block:nth-child(2) {
        margin-top: 2px;
    }

    .info_block:nth-child(3) {
        margin-top: 6px;
    }


    .about_company__summary {
        margin-top: 3px;
        height: 70px;
    }

    .about_company__link {
        margin-top: 15px;
        margin-left: 85%;
    }

    /*Блок NEWS*/
    .avatar {
        position: absolute;
        top: 15px;
        left: -25px;
    }

    .pingbuller__info_block {
        width: 89.5%;
        margin: 72px 0  20px 7.5%;
        padding-left: 8.5%;
        padding-bottom: 36px;

    }

    .pingbuller__title {
        display: inline-block;
        font-size: 30px;
        margin-top: 25px;
        letter-spacing: -0.001em;
    }

    .pingbuller__title--description {
        display: inline-block;
        font-size: 30px;
        margin-left: 2px;
    }

    .pingbuller__summary {
        margin-top: 13px;
        padding-right: 7%;
        height: 166px;
        letter-spacing: -0.02em;
    }

    .pingbuller__switch {
        margin-top: 22px;
        margin-left: 42%;
        width: 28.125%;
    }

    /*RECENT UPDATES*/
    .recent_updates__title {
        margin-bottom: 18px;
        margin-left: 16%;
    }

    .recent_updates__post {        
        margin-left: 16.5%;
        padding-left: 14%;
        margin-bottom: -4px;
    }

    .recent_updates__post:nth-child(3) {
        margin-bottom: -6px;
    }

    .recent_updates__link {
        margin-left: 70%;
        margin-bottom: 86px;        
    }

   /*BANNERS*/
.banners__wrapper {
        padding-bottom: 14px;
        padding-top: 36px;
    }

    .banners__item {
        margin-bottom: 26px;
    }

    .banner1 {
        margin-left: 16.25%;
        margin-right: 11.75%;
    }

    .banner3 {
        margin-left: 11.65%;

    }
    .banner4 {
        margin-left: 13%;
        margin-right: 11.25%;

    }
    .banner5 {
        margin-left: 1%;
        margin-top: 21px;
    }

    .banner6 {

        margin-left: 12.25%
    }

    /*NEWS CATEGORIES*/

    .news_categories__post {
        margin-left: 2.125%;
        margin-bottom: 62px;
        overflow: hidden;
    }
    .news_categories__post:last-child {
        margin-top: 65px;
        margin-bottom: 93px;
    }

    .news_categories__title {
        margin-bottom: 9px;
    }

    .news_categories__summary {
        height: 90px;
    }

    .footer__summary {
        margin: 39px 0 144px;
    }

}
