@media (max-width: 480px) {
    .hidden-m {
        visibility: hidden;
    }

    .position-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        padding-top: 73px;
        margin-left: -1px;
        margin-bottom: 34px;
    }

    .slider {
        margin-top: 127px;
        margin-bottom: 57px;
    }

    .slider__switch {
        margin-top: 9px;
        padding-left: 41%;
    }

    .slider__wrapper {
        display: initial;
    }

    .slider__pict {
       margin-top:-109px;
    }

    .slider__text {
        float: left;
        margin-left: 8px;
        margin-right: 17px;
    }

    /*ABOUT COMPANY*/

    .about_company {
        padding-bottom: 47px;
    }

    .info_block {
        margin-top: 77px;
        margin-bottom: 20px;
        padding-left: 12%;
        width: 92%;
    }

    .info_block:nth-child(2) {
        margin-top: 2px;
    }

    .info_block:nth-child(3) {
        margin-top: 6px;
    }


    .about_company__summary {
        margin-top: 3px;
        height: 70px;
    }

    .about_company__link {
        margin-top: 15px;
        margin-left: 85%;
    }

    /*Блок NEWS*/
    .avatar {
        position: absolute;
        top: 15px;
        left: -12px;
    }

    .news__info_block {
        width: 99%;
        margin-top: 72px;
        margin-bottom: 20px;
        margin-left: 8%;
        padding-left: 11%;
    }

    .news__title {
        display: inline-block;
        font-size: 30px;
        margin-left: 2px;
        margin-top: 25px;
        letter-spacing: -0.001em;
    }

    .news__title--description {
        display: inline-block;
        font-size: 30px;
        margin-left: 2px;
    }

    .news__summary {
        margin-top: 13px;
	   margin-left: 1.8%;
        height: 166px;
        padding-right: 17%;
        letter-spacing: -0.02em;
    }

    .news__switch {
        margin-top: 40px;
        margin-left: 13%;
        width: 28.125%;
    }

    /*RECENT UPDATES*/
    .recent_updates__title {
        margin-bottom: 18px;
        margin-left: 16%;
    }

    .recent_updates__post {        
        margin-left: 16%;
        padding-left: 14%;
        margin-bottom: -4px;
    }

    .recent_updates__post:nth-child(3) {
        margin-bottom: -6px;
    }

    .recent_updates__link {
        margin-left: 70%;
        margin-bottom: 86px;        
    }

.banners {
        width: 80% ;
        margin-bottom: 16px;
        padding-top: 52px;
    }

    .banners__item {
        margin-bottom: 61px;
    }

    .banner1 {
        margin-left: 9.5%;
        margin-right: 23%;
    }

    .banner3 {
        margin-left: 12.5%;
        margin-right: 27%;
    }

    .banner5 {
        margin-left: 1%;
        margin-right: 23%;
        margin-top: 2px;
    }

    .banner6 {
        margin-top: -19px;
    }


}
