    @media (max-width: 768px) {
    .hidden-m {
        visibility: hidden;
    }
    .position-center {
        display: block;
    }

    .header__logo {
        padding-top: 73px;
        margin-left: 1.3%;
        margin-bottom: 32px;
    }

    .header__menu {
        margin-left: 1.3%;
        width: 84.3%;
    }
    .overlay{
        top: 244px;
        height: 400px;
    }

    .slider {
        margin-top: 178px;
        padding-bottom: 97px;
    }

    .slider__text {
        float: left;
        margin-left: 4.54%;
        margin-right: 16.75%;
        width: 37%;
    }

    .slider__name {
        font-size: 48px;
        margin-left: 0;
        letter-spacing: -0.0055em;
    }

    .slider__description {
        margin-top: 16px;
        margin-bottom: 2px;
        font-size: 24px;
        letter-spacing: normal;
    }

    .slider__summary {
        height: 105px;
        overflow: hidden;
    }

    .slider__summary:first-line {
        line-height: 2.2;
    }

    .slider__img {
        width: 35.5%;
        margin-top: -131px;
    }

    .slider__switch {
        margin-top: 25px;
        padding-left: 71%;
    }

    .switch__bullet {
        margin-right: 1.2%;
    }

    /*ABOUT COMPANY*/
    .about_company {
        padding-top: 77px;
        padding-bottom: 64px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .info_block {
        width: 30%;
        padding-left: 8%;
        background-position: -86px -1px;
    }

    .info_block:nth-child(2) {
        padding-left: 8.5%;
        background-position: -44px -30px;
    }

    .info_block:nth-child(3) {
        padding-left: 10%;
        background-position: 10px -55px;
    }

    .about_company__summary {
        height: 148px;
        margin-top: 3px;
    }

    .about_company__link {
        margin-top: 2px;
        margin-left: 56%;
    }

    .info_block:nth-child(3)  .about_company__link {
        margin-left: 60%;
    }


    .news_wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 70px;
    }
    /*Блок pingbuller*/
    .avatar {
        top: 17px;
        left: -27px;
    }

    .pingbuller {
        margin-top: 13px;
        margin-left: 5%;
        margin-right: 7%;
    }

    .pingbuller__info_block {
        width: 90.25%;
        margin: 87px 0  20px -0.75%;
        padding-left: 11%;
        padding-bottom:42px;
        padding-top: 29px;
    }

    .pingbuller__title {
        font-size: 24px;
        letter-spacing: -0.001em;
    }

    .pingbuller__title--description {
        font-size: 24px;
        margin-left: 2px;
    }

    .pingbuller__summary {
        margin-top: 8px;
        padding-right: 7%;
        height: 145px;
        letter-spacing: -0.02em;
    }

    .pingbuller__switch {
        margin-top: 22px;
        margin-left: 32.5%;
        width: 28.125%;
    }

    /*RECENT UPDATES*/
    .recent_updates {
        margin-left: -4%;
        padding-top: 132px;
    }

        .recent_updates__title {
            margin-bottom: 19px;
            margin-left: -0.25%;
        }

        .recent_updates__post {
            padding-left: 19%;
            margin-bottom: -4px;
        }

        .recent_updates__post:nth-child(3) {
            margin-bottom: -6px;
        }

        .recent_updates__link {
            margin-left: 69.125%;
            margin-top: -1px;
        }


        /*BANNERS*/
        .banners__wrapper {
            padding-top: 26px;
            padding-bottom: 2px;
        }

        .banners__item {
            margin-bottom: 26px;
        }

        .banner1 {
            margin-left: 1.75%;
            margin-right: 7.25%;
        }

        .banner3 {
            margin-left: 7.25%;
        }

        .banner4 {
            margin-left: 8.5%;
        }

        .banner5 {
            margin-left: 8%;
            margin-top: 21px;
        }

        .banner6 {
            margin-left: 7.25%;
            margin-top: 2px;
        }
        /*NEWS CATEGORIES*/

        .news_categories {
            display: flex;
            justify-content: space-between;
            padding-top: 101px;
        }

        .news_categories__post {
            margin-left: 1.25%;
            margin-bottom: 95px;
            overflow: hidden;
            width: 28.5%;
        }

        .news_categories__post:last-child {
            margin-top: 0;
            margin-left: 0;
        }

        .news_categories__title {
            margin-bottom: 9px;
        }

        .news_categories__summary {
            height: 167px;
        }

        /*FOOTER*/
        .footer {
            padding-bottom: 132px;
        }

        .footer__menu {
            padding-top: 41px;
        }

        .footer__nav {
            margin-left: 1.25%;
            width: 70%;
        }

        .footer__summary {
            margin: 31px 1.75% 0 0;
            float: right;
        }




}
