@media (max-width: 320px) {

    .hidden {
        display: none;
    }


    /*HEADER*/
    .overlay {
        display: none;
    }

    .slider {
        padding-left: 22px;
        margin-bottom: 65px;
    }

    .slider__switch {
        margin-top: 130px;
        padding-left: 29.125%;
    }

   /*ABOUT COMPANY*/

    .about_company {
        padding-bottom: 42px;
    }

    .info_block {
        margin-top: 70px;
        padding-left: 16.1875%;
        width: 82.8%;
        background-position: -98px -1px;
    }

    .info_block:nth-child(3) {
        margin-top: 18px;
    }

    .about_company__link {
       margin-left: 76.6%;
    }

    /*Блок pingbuller*/
    .avatar {
        top: 17px;
        left: -10%;
    }

    .pingbuller__info_block {
        width: 84.5%;
        margin-top: 70px;
        margin-left: 12%;
        padding: 1px 0 29px 11.25%;
    }

    .pingbuller__title {
        display: block;
        font-size: 24px;        
    }

    .pingbuller__title--description {
        display: block;
        font-size: 24px;        
        margin-top: -1px;
    }

    .pingbuller__summary {
        margin-top: 4px;
        margin-left: 1.8%;
        padding-right: 11%;
    }

    .pingbuller__switch {
        margin-top: 23px;
        margin-left: 44%;
    }

    .switch__bullet--theme--light {
    margin-right: 0;
    }

/*RECENT UPDATES*/
    .recent_updates {
        padding-top: 47px;
    }

    .recent_updates__title {
        margin-bottom: 19px;
        margin-left: 3.5%;
    }
    .hidden {
        visibility: hidden;
    }

    .recent_updates__post {
        	
        margin-left: 4%;
        padding-left: 21.5%;
        margin-bottom: 16px;
    }

    .recent_updates__post:nth-child(3) {
        margin-bottom: 24px;
    }

    .recent_updates__link {
        margin-left: 65.5%;        
    }

    /*BANNERS*/
    .banners__wrapper {
        width: 85% ;
        margin-bottom: 16px;
        padding-top: 52px;
    }

    .banners__item {
        margin-bottom: 61px;
    }

    .banner1 {
        margin-left: 21%;
        margin-right: 0;
    }

    .banner2 {
        margin-left: 21.75%;
        margin-right: 0;
    }

    .banner3 {
        margin-left: 24.5%;
    }

    .banner4 {
        margin-left: 25.5%;
        margin-right: 0;
    }



    .banner5 {
        margin-left: 13.5%;

        margin-top: 2px;
    }

    .banner6 {
        margin-top: -19px;
        margin-left: ;
    }

    .footer__summary {
        margin: 39px 0 144px;
    }




}