/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 30px;
    color: #128aa7;
}

.header__logo {
    width: 283px;
    height: 164px;
    background: url("../img/header_logo.png");
}

.header__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 35px;
    font-size: 12px;
}

.header__contacts__contact_us {
    font-weight: bold;
}

.header__menu__list {
    display: flex;
    justify-content: space-between;
    width: 325px;
}

.header__menu__item {
    display: flex;
    text-align: center;
}

.header__menu__link {
    color: inherit;
    font-size: 10px;

}
.header__menu__image {
    margin: 0 auto;
    width: 40px;
}
