body {
    background: url("../img/background.jpg");
}

.main_page {
    margin: 19px auto 0;
    padding-top: 10px;
    width: 1000px;
    background-color: white;
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 30px;
    color: #128aa7;
}

.header__logo {
    width: 283px;
    height: 164px;
    background: url("../img/header_logo.png");
}

.header__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 35px;
    font-size: 12px;
}

.header__contacts__contact_us {
    font-weight: bold;
}

.header__menu__list {
    display: flex;
    justify-content: space-between;
    width: 325px;
}

.header__menu__item {
    display: flex;
    text-align: center;
}

.header__menu__link {
    color: inherit;
    font-size: 10px;

}
.header__menu__image {
    margin: 0 auto;
    width: 40px;
}

/*CONTENT*/

.content__image {
    width: inherit;
    height: 237px;
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
    background: url("../img/content__image.jpg");
}

.content__main_menu {
    padding: 8px 0 10px;
    background: #333333;
    border-bottom: 1px solid black;
}

.content__main_menu__list {
    display: flex;
    justify-content: space-around;
    color: white;
}

.content__main_menu__link {
    position: relative;
    font-size: 14px;
    color: inherit;
    text-decoration: none;
}

.arrow_down:after {
    content: '';
    position: absolute;
    top: 40%;
    right: -10px;
    background: url("../img/content__arrow_down.png");
    width: 5px;
    height: 6px;
}
.countries_link {

}

.content__main_menu__submenu {
    display: none;
}