body {
    background: #0c739f url("../img/background.jpg") repeat-x;
}

.main_page {
    margin: 19px auto 0;
    padding-top: 10px;
    width: 1000px;
    background-color: white;
}
/*CONTENT*/

.content__image {
    width: inherit;
    height: 237px;
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
    background: url("../img/content__image.jpg");
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.fon1 {
    width: 100%;
    background: #edeef0;
    float: left;
    position: relative;
    right: 58%;

    border-right: 1px solid #c7cacf;
}

.fon2 {
    width: 100%;
    background: #fff;
    float: left;
    position: relative;
    right: 21%;

    border-right: 1px solid #c7cacf;
}

.fon3 {
    width: 100%;
    background: #edeef0;
    float: left;
    overflow: hidden;
}

.content__sidebar {
    width: 21%;
    float: left;
    overflow: hidden;
    position: relative;
    left: 79%;

    padding: 15px;
}

.content {
    width: 58%;
    float: left;
    overflow: hidden;
    position: relative;
    left: 79%;

    padding: 15px;
}

.content__news {
    width: 21%;
    float: left;
    overflow: hidden;
    position: relative;
    left: 79%;

    padding: 15px;
}

.content__text {
    font-family: Tahoma;
    font-size: 14px;
    line-height: 24px;
}

.content__title {
    font-size: 18px;
    font-weight: bold;
    font-family: Tahoma;
    text-align: center;
    color: #424c43;
}