.section-info {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to top, #322539, #745083);
    padding-top: 64px;
    padding-bottom: 61px;
    padding-left: 74px;
    color: #ffffff;
}

.section-info__wrapper {
    display: flex;
    flex-direction: column;
}

.section-info > * + * {
    margin-top: 57px;
}

.section-info__item {
    width: 96%;
}

/*480*/
@media (min-width: 321px) {
    .section-info {
        padding-top: 71px;
        padding-bottom: 66px;
        padding-left: 75px;
    }

    .section-info > * + * {
        margin-top: 16px;
    }
}

/*768*/
@media (min-width: 481px) {
    .section-info {

        padding-bottom: 64px;
        padding-left: 83px;
    }

    .section-info__wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .section-info__item {
        width: 23%;
    }
    .section-info > * + * {
        margin-top: 0;
    }

    .section-info .text_preview {
        -webkit-line-clamp: 6;
    }
}

/*960*/
@media (min-width: 769px) {
    .section-info__wrapper {
        max-width: 960px;
    }

    .section-info__item {
        width: 25%;
    }

    .section-info .article__title {
        font-size: 30px;
    }

    .section-info .text_preview {
        -webkit-line-clamp: 5;
    }
}