.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 320px;
}

.carousel__item {
    font-family: LeagueGothic, Arial, sans-serif;
}

.carousel__link {
    width: 22px;
    height: 34px;
}

.carousel__title {
    font-size: 36px;
    color: #fefefe;
    text-transform: capitalize;
}

.carousel__subtitle {
    text-transform: uppercase;
    font-size: 18px;
    color: #edbfff;
    letter-spacing: 0.025em;
}

.carousel__description {

}

.carousel__img {
    display: none;
}