.page-header {
    width: 100%;
    border-bottom: 1px solid #35283c;
}

.page-header__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.page-header__logo {
    margin-top: 70px;
}

.page-header__main-menu {
    position: absolute;
    top: 139px;

}

.page-header__carousel {
    margin-top: 178px;
}


.page-header__carousel .carousel__item-title {
    margin-bottom: -11px;
}

