.page-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header__logo {
    margin-top: 70px;
}

.page-header__main-menu {
    position: absolute;
    top: 139px;

}

.page-header__carousel {
    margin-top: 178px;
}