.footer__menu {
    margin: 60px 0;
    color: #2c2c2c;
}


    .footer_menu_list {
        background: #e1e1e1;
    }


        .footer_menu_item {
            flex-grow: 1;
        }

        .footer_menu_item:first-child {
            padding-left: 24px;
        }

        .footer_menu_item:last-child {
            text-align: right;
            flex-grow: 2;
            padding-right: 24px;
        }


            .footer_menu_link {
                color: inherit;
            }

            .footer_menu_link:hover {
                border-bottom: 1px solid #595959;
            }

