body {
    max-width: 909px;
    margin: 0 auto;
}

.text_color_white {
    color: white;
}

.logo {
    background-image: url("../img/logo.jpg");
    width: 909px;
    height: 237px;
}

.main__search {
    display: flex;
}

.search {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(156, 156, 157);
    border-radius: 17px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px 0 rgba(150, 150, 150, 0.75);

}

.search:first-child {
    width: 412px;
    height: 132px;
    box-shadow: 0 5px 5px 0 rgba(104, 104, 104, 0.75);
}

.search:nth-child(2) {
    border-radius: 18px;
    width: 190px;
    height: 134px;
}

.search:nth-child(3){
    border-radius: 16px;
    width: 266px;
    height: 133px;
}