body {
    max-width: 909px;
    margin: 0 auto;

    font-family: Arial, sans-serif;

}

.text_color_white {
    color: white;
}

.logo {
    background-image: url("../img/logo.jpg");
    width: 909px;
    height: 237px;
}

.main__search {
    display: flex;
}

