body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 35%;
}

label {
    display: inline-block;
    width: 5em;
}

fieldset div {
    margin-bottom: 2em;
}

.input-field {
    position: relative;
}

em {
    display: none;
    position: absolute;
    left: 265px;
    top: -4px;
    text-align: left;
    padding: 5px;
    font-style: normal;
    border: 1px solid grey;
    border-radius: 3px;
}