* {
    box-sizing: border-box;
}

.tab__list {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    border: 1px solid #ccc;

    background-color: rgb(233, 233, 233);
}

/* Style the buttons that are used to open the tab content */
.tab__link {
    border: 1px solid #c5c5c5;
    border-bottom: none;
    background-color: #f6f6f6;
    margin: 3px 3px 0;

    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-decoration: none;
    color: inherit;
}

.tab__link:visited {
    color: inherit;
}

.tab__link:focus {
    border: 1px solid black;
    border-bottom: none;
}


/* Change background color of buttons on hover */
.tab__link:hover {
    background-color: #ddd;
}

/* Create an active/current tab-link class*/
.tab__link.is-active {
    background-color: #ccc;
}


/* Style the tab content */
.tab__content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
