body {
    background: #f9f9f9;
}

.container {

    margin: 0 auto;
    padding: 50px 50px 60px 45px;
    width: 1060px;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}

li a {
    display: block;
    text-decoration: none;
}

.main_menu li{
    display: inline-block;
}


/*HERDER*/

.header_logo {
    width: 145px;
    height: 40px;
    background: url("../img/logo.png") no-repeat;
 }

/*HEADER MENU*/

.header_menu {
    margin: 40px 0;
    background: url("../img/header_menu_bg.png") repeat-x;
}

.header_menu li a{

    padding: 14px 0 15px 0;
    color: white;
    font-size: 17px;
}

.header_menu .item_1 a {
    padding-right:63px;
    padding-left: 25px;
    width: 56px;
    }

.header_menu .item_2 a {
    padding-right:24px;
    padding-left: 24px;
    width: 53px;
 }

.header_menu .item_3 a {
    padding-right: 64px;
    padding-left: 65px;
    width: 43px;
}

.header_menu .item_4 a {
    padding-left: 22px;
    width: 90px;
}

.header_menu .item a:hover {
    background: url("../img/header_menu_line.png") no-repeat 0 0,
    url("../img/header_menu_line.png") no-repeat 100% 0,
    url("../img/header_menu_bg_hover.png") repeat-x;
}


/*CONTENT*/

ul.left_menu {
    float: left;
    width: 240px;
}

.content {
    width: 966px;
}

.left_menu >li> a {
    margin-top: -1px;
    border: 1px solid #c8c8c8;
    padding: 12px 20px;

    font-size: 13,33px;
    color: #656363;
}

ul.left_menu > li:hover> a {
    padding-left: 35px;
    color: #2c2c2c ;
}


.content_picture {
    float: right;
    border: 1px solid #c8c8c8;
    width: 680px;
    height: 400px;

}

.content_text {
    float: right;

    margin: 40px 0 85px 0;
    width: 630px;
    padding: 0 24px;

    font-size: 16px;
    line-height: 21px;
    color: #2c2c2c;
}

.wraper:after {
    content: "";
    display: block;
    clear: both;
}

/*FOOTER*/
.footer {
    position: relative;
    background: #e1e1e1;
    height: 40px;
    width: 965px;
}

.footer_menu li a{
    padding: 5px 75px 10px 25px;
    font-size: 13.5px;
    color: #2c2c2c;
    line-height: 29px;
}
.footer_menu  li:hover a {
    text-decoration: underline;
}

.footer_menu li:last-child {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 13.5px;
    color: #2c2c2c;
    line-height: 29px;
}
