body {
    background: #f9f9f9;
}

.container {

    margin: 0 auto;
    padding: 50px 50px 60px 45px;
    width: 1060px;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}

li a {
    display: block;
    text-decoration: none;
}

.main_menu li{
    display: inline-block;
}


/*HERDER*/

.header_logo {
    width: 145px;
    height: 40px;
    background: url("../img/logo.png") no-repeat;
 }

/*HEADER MENU*/

.header_menu li a{
    margin: 40px 0;
    height: 40px;
}

.header_menu .item_1 a {
    width: 144px;
    background: url("../img/header_menu_item1_name_24.png") no-repeat 50% 50%,
             url("../img/header_menu_item1_bg.png") no-repeat 50% 50%;
}

.header_menu .item_1 a:hover {
    width: 144px;
    background: url("../img/header_menu_item1_name_24.png") no-repeat 50% 50%,
    url("../img/header_menu_item1_bg_hover.png") no-repeat 50% 50%;
}

.header_menu .item_2 a {
    width: 101px;
    background: url("../img/header_menu_item2_name.png") no-repeat 50% 60%,
    url("../img/header_menu_item2_bg.png") no-repeat 50% 50%;
}

.header_menu .item_2 a:hover {
    width: 101px;
    background: url("../img/header_menu_item2_name.png") no-repeat 50% 60%,
    url("../img/header_menu_item2_bg_hover.png") no-repeat 50% 50%;
}

.header_menu .item_3 a {
    width: 172px;
    background: url("../img/header_menu_item3_name.png") no-repeat 50% 60%,
    url("../img/header_menu_item3_bg.png") no-repeat 50% 50%;
}

.header_menu .item_3 a:hover {
    width: 172px;
    background: url("../img/header_menu_item3_name.png") no-repeat 50% 60%,
    url("../img/header_menu_item3_bg_hover.png") no-repeat 50% 50%;
}
.header_menu .item_4 a {
    width: 112px;
    background: url("../img/header_menu_item4_name.png") no-repeat 50% 53%,
    url("../img/header_menu_item4_bg_1.png") no-repeat 50% 50%;
}

.header_menu .item_4 a:hover {
    width: 112px;
    background: url("../img/header_menu_item4_name.png") no-repeat 50% 53%,
    url("../img/header_menu_item4_bg_hover_1.png") no-repeat 50% 50%;
}

.header_menu .item a {
    width: 437px;
    background: url("../img/bg.png") no-repeat 50% 50%;
    cursor: context-menu;
}

/*CONTENT*/

ul.left_menu {
    float: left;
    width: 240px;
}

.content {
    width: 968px;
}

.left_menu >li> a {
    margin-top: -1px;
    border: 1px solid #c8c8c8;
    padding: 12px 20px;

    font-size: 13,33px;
    color: #656363;
}

ul.left_menu > li:hover> a {
    padding-left: 35px;
    color: #2c2c2c ;
}


.content .content_picture {
    float: right;
    border: 1px solid #c8c8c8;
    width: 675px;
    height: 400px;
    background: url("../img/content_picture.jpg") no-repeat center top;
}

.content .content_text {
    float: right;

    margin: 40px 0 85px 0;
    width: 625px;
    padding: 0 24px;

    font-size: 16px;
    line-height: 21px;
    color: #2c2c2c;
}

.wraper:after {
    content: "";
    display: block;
    clear: both;
}

/*FOOTER*/
.footer {
    position: relative;
    background: #e1e1e1;
    height: 40px;
    width: 965px;
}

.footer_menu li a{
    padding: 5px 75px 10px 25px;
    font-size: 13.5px;
    color: #2c2c2c;
    line-height: 29px;
}
.footer_menu  li.active a {
    text-decoration: underline;
}

.footer_menu li:last-child {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 13.5px;
    color: #2c2c2c;
    line-height: 29px;
}
