.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__form {
    padding-top: 100px;
}

.form {
    font: 16px arial,sans-serif;
}

.form {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}