.hidden {
    display: none;
}

.hidden_less-than-320 {
    display: none;
}

.hidden_less-than-768 {
    display: none;
}

.hidden_less-than-960 {
    display: none;
}

@media (min-width: 321px) {
    .hidden_less-than-320 {
        display: inline-block;
    }
}

@media (min-width: 481px) {
    .hidden_less-than-768 {
        display: -webkit-box;
    }
}

@media (min-width: 769px) {
    .hidden_less-than-960 {
        display: inline;
    }
}