.pagination {
    display: flex;
    justify-content: space-around;
    width: 90px;
}

.pagination__page {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    opacity: 0.302;
    background-color: #000;
    cursor: pointer;
}

.pagination__page_active {
    background-color: #ffffff;
    border: 3px solid #000000;
}

.pagination__page_theme_light {
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    box-shadow: 1px 2px 0 0 rgba(255, 255, 255, 1);
    opacity: 1;
}

.c-main-content .pagination__page_active {
    background-image: linear-gradient(to top, #454545, #6a6a6a);
    background-clip: content-box;
    padding: 2px;
}