.hw3-bonus_wrapper {
    position: relative;
    margin: 0 auto;
    width: 960px;
    background: url("../img/bg.jpg") no-repeat 50% 50%;
    color: #e6e6e6;
}

/*HEADER*/

.header {
    display: flex;
    width: 816px;
    margin: 0 auto;
    height: 202px;
    justify-content: space-between;
    align-items: flex-end;
}

.header__contacts {
    margin-bottom: 10px;
    margin-right: 15px;
    font-family: Tahoma;
}

.contact_us {
    font-size: 11.4px;
    margin-bottom: 5px;
}

.contact_info {
    margin: 2px 0;
    font-size: 9px;
}

.header_logo {
    position: relative;
    width: 265px;
    height: 149px;
    background: url("../img/header__logo_bg.png") no-repeat;

}

.header__slogan {
    position: absolute;
    top: 125px;
    left: 83px;
    font-size: 11px;
    font-family: Tahoma;
    color: #e6e6e6;
}

/*COUNTRIES*/
.country_wrapper {
    display: flex;
    height: 461px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content:space-between;
    margin: 0 70px 100px;
}

.frame {
    border-radius: 2%;
    border-style: solid;
    border-width: 5px 5px 6px 6px;
    -moz-border-image: url("../img/frame.png") 5 5 6 6 stretch repeat;
    -webkit-border-image: url("../img/frame.png") 5 5 6 6 stretch repeat;
    -o-border-image: url("../img/frame.png") 5 5 6 6 stretch repeat;
    border-image: url("../img/frame.png") 5 5 6 6 stretch repeat;
}

.country_name {
    margin: 0 auto;
    font-size: 17px;
}

.country_name--india,
.country_name--nepal,
.country_name--tibet {
    width: 40px;
}

.country_name--bhutan {
    width: 50px;
}

.country_name--sri_lanka {
    width: 70px;
}

.country_name--maldives {
    width: 60px;
}

.footer__copyright {
    width: 173px;
    margin: 0 auto;
    font-size: 11px;
    line-height: 75px;
}
