.wraper {
    position: relative;
    margin: 0 auto;
    width: 960px;
    min-height: 883px;
  background: url("../img/bg.jpg") no-repeat 50% 50%;
}

.txt {
    color: #e6e6e6;
}

/*HEADER*/

.header:after {
    content: "";
    display: block;
    clear: both;
}

.contacts {
    float: right;
    margin-top: 150px;
    margin-right: 87px;
    font-family: Tahoma;
}

.contact_us {
    font-size: 11.4px;
    margin-bottom: 5px;
}

.contact_info {
    margin: 2px 0;
    font-size: 9px;
}

.logo {
    margin-left: 70px;
    padding-top: 55px;
}

/*COUNTRIES*/
.countries {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    margin: -6px 70px 0;
}

.frame {
    border-radius: 2%;
    border-style: solid;
    border-width: 5px 5px 6px 6px;
    -moz-border-image: url("../img/frame.png" )5 5 6 6 stretch repeat;
    -webkit-border-image: url("../img/frame.png") 5 5 6 6 stretch repeat;
    -o-border-image: url("../img/frame.png") 5 5 6 6 stretch repeat;
    border-image: url("../img/frame.png") 5 5 6 6  stretch repeat;
}

.country_name {
        margin: 0 auto 50px;
        font-size: 17px;
}

.India,
.Nepal,
.Tibet{
    width: 40px;
}

.Bhutan {
    width: 50px;
}

.Sri_Lanka {
    width: 70px;
}

.Maldives {
    width: 60px;
}

.copyright {
    position: absolute;
    left: 400px;
    bottom: 30px;
    width: 173px;
    margin: 0 auto;
    font-size: 11px;
}
